<section id="acerca" class="about section container full-lg-screen">
  <article class="text-lg-right">
    <aside class="text-center text-lg-right">
      <h1>Michael Stiven Saa Motta</h1>
      <h5>junior developer<i>web</i></h5>
    </aside>
  <p> durante mi tiempo de practicas

  </p>
    <div class="text-center text-lg-left">
      <a class="btn" href="https://jonmircha.com/jonmircha-cv.pdf" target="_blank" rel="noopener">DESCARGA MI CV</a>
    </div>
  </article>
  <article>
    <!-- <img class="gray-scale" src="assets/jonmircha.jpg" alt="jonmircha"> -->
  </article>
  <article>
    <h2 class="text-center text-lg-left">Mis Habilidades</h2>
    <div class="progress">
      <p>
        <b>Desarrollo <i>Web Frontend</i></b>
        <b>90%</b>
      </p>
      <progress value="90" min="0" max="100"></progress>
    </div>
    <div class="progress">
      <p>
        <b>Diseño <i>Web</i></b>
        <b>85%</b>
      </p>
      <progress value="85" min="0" max="100"></progress>
    </div>
    <div class="progress">
      <!-- <p>
        <b><i>WPO</i> y <i>SEO</i></b>
        <b>80%</b>
      </p> -->
      <progress value="80" min="0" max="100"></progress>
    </div>
    <div class="progress">
      <p>
        <b>Desarrollo <i>Web Backend</i></b>
        <b>40%</b>
      </p>
      <progress value="75" min="0" max="100"></progress>
    </div>
    <div class="progress">
      <p>
        <b><i>Social Media</i> y <i>Marketing</i> de Contenidos</b>
        <b>60%</b>
      </p>
      <progress value="60" min="0" max="100"></progress>
    </div>
  </article>
</section>
