<p>trabajos works!</p>
<section id="portafolio" class="portfolio section">
  <div class="container">
    <h2 class="section-title">Mis Trabajos durante mis practicas </h2>
    <a href="#trabajo-1" class="portfolio-card">
      <img src="assets/portfolio-1.jpg" alt="Trabajo 1">
      <aside class="portfolio-card-info">
        <div>
          <h3>Proyecto 1</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quibusdam modi dolore, ab unde labore totam
            repudiandae omnis quam nesciunt eveniet, sequi ipsam ad culpa voluptatibus delectus ex voluptas provident?
          </p>
        </div>
      </aside>
    </a>
    <a href="#trabajo-2" class="portfolio-card">
      <img src="assets/portfolio-2.jpg" alt="Trabajo 2">
      <aside class="portfolio-card-info">
        <div>
          <h3>Proyecto 2</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium deserunt repellat quod cupiditate
            fugiat
            impedit vel mollitia eligendi, cumque ipsum nemo repellendus vero asperiores earum non similique numquam
            recusandae totam?</p>
        </div>
      </aside>
    </a>
    <a href="#trabajo-3" class="portfolio-card">
      <img src="assets/portfolio-3.jpg" alt="Trabajo 3">
      <aside class="portfolio-card-info">
        <div>
          <h3>Proyecto 3</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium deserunt repellat quod cupiditate
            fugiat
            impedit vel mollitia eligendi, cumque ipsum nemo repellendus vero asperiores earum non similique numquam
            recusandae totam?</p>
        </div>
      </aside>
    </a>
    <a href="#trabajo-4" class="portfolio-card">
      <img src="assets/portfolio-4.jpg" alt="Trabajo 4">
      <aside class="portfolio-card-info">
        <div>
          <h3>Proyecto 4</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium deserunt repellat quod cupiditate
            fugiat
            impedit vel mollitia eligendi, cumque ipsum nemo repellendus vero asperiores earum non similique numquam
            recusandae totam?</p>
        </div>
      </aside>
    </a>
    <a href="#trabajo-5" class="portfolio-card">
      <img src="assets/portfolio-5.jpg" alt="Trabajo 5">
      <aside class="portfolio-card-info">
        <div>
          <h3>Proyecto 5</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium deserunt repellat quod cupiditate
            fugiat
            impedit vel mollitia eligendi, cumque ipsum nemo repellendus vero asperiores earum non similique numquam
            recusandae totam?</p>
        </div>
      </aside>
    </a>
    <a href="#trabajo-6" class="portfolio-card">
      <img src="assets/portfolio-6.jpg" alt="Trabajo 6">
      <aside class="portfolio-card-info">
        <div>
          <h3>Proyecto 6</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium deserunt repellat quod cupiditate
            fugiat
            impedit vel mollitia eligendi, cumque ipsum nemo repellendus vero asperiores earum non similique numquam
            recusandae totam?</p>
        </div>
      </aside>
    </a>
  </div>
</section>
